<launch>

<arg name="map_file" default="fdp_home_map"/>
<arg name="move_forward_only" default="true"/>

<node pkg="map_server" name="map_server" type="map_server" args="$(find fdpbot_slam)/maps/$(arg map_file).yaml"/>

<include file="$(find fdpbot_navigation)/launch/amcl.launch"/>

<include file="$(find fdpbot_navigation)/launch/movebase.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

<node pkg="rviz" type="rviz" name="rviz" required="true" args="-d $(find fdpbot_navigation)/config/nav.rviz"/>

</launch>